---
import '../styles/global.css';
const pageTitle = "Mis Post";
const allPosts = await Astro.glob('../pages/posts/*.md');
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
---
<BaseLayout pageTitle={pageTitle}>
	<h2> Mi blog de Astro aprendizaje</h2>
        <p>Aquí es donde voy a publicar mis cambios jijiji</p>
        <ul>
			{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
        </ul>
</BaseLayout>